div a {
    background-color: azure;
    padding: 25px;
}

a>h1 {
    background-color: bisque;
    color: black;
}

a+a {
    background-color: azure;
}

p.HELLO:hover{
    color: black;
    font-weight: bold;
}

p.HELLO::before{
    content: 'Do you want';
    color: bisque;
    font-weight: bold;
}

p.HELLO::after{
    content: 'healthy lifestyle?';
    color: brown;
    font-weight: bolder;
}

p::selection{
    background-color: aliceblue;
    color: white;
}
.visible
{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
.op_1{
    opacity: 1;
}
.op_0{
    opacity: 0;
}
.op_05{
    opacity: 0.5;
}
.none{
    display: none;
    font-weight: bold;
}
.incline{
    display: inline;
    font-weight: bold;
}
.block{
    display: block;
    font-weight: bold;
}

h3{
    background-color:bisque;
    text-align: center;
}

*{
    padding: 0%;
    margin: 0%;
}

.nav{
    background-color: aliceblue;
    height: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.banner{
    background-color: beige;
    height: 200px;
}

.content{
    background-color: blanchedalmond;
    height: 400px;
}

.footer{
    background-color: antiquewhite;
    height: 20px;
    height: 100px;
}

img{
    width: 100%;
    filter: grayscale(50%) invert(20%);
}
